/* Start change option */
.Change-Colour {
  position: fixed;
  z-index: 99999;
  top: 100px;
  left: 0;
}
.Change-Colour .body-change {
  background: #333;
  width: 180px;
  height: 100px;
  float: left;
  padding: 10px;
  display: none;
}
.Change-Colour .body-change h4 {
  color: #fff;
  margin-bottom: 15px;
}
.Change-Colour .body-change li {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 10px;
  cursor: pointer;
}
.Change-Colour .body-change li:first-of-type {
  background: #e60024;
}
.Change-Colour .body-change li:nth-of-type(2) {
  background: #1b8d05;
}
.Change-Colour .body-change li:nth-of-type(3) {
  background: #009aff;
}
.Change-Colour .body-change li:nth-of-type(4) {
  background: #bfbf16;
}

.Change-Colour i {
  color: #fff;
  padding: 5px;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
.lead {
  font-family: "Open Sans", sans-serif;
}

/* End change option */

body {
  padding-top: 60px;
  font-family: "Cairo", sans-serif;
}
.navbar {
  min-height: 60px;
}
.navbar-inverse .navbar-brand {
  color: #bbb;
  font-size: 30px;
  line-height: 30px;
}

.navbar-nav > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
  transition: all 0.5s ease-in-out;
}

.navbar-nav > li > .dropdown-menu {
  background: #333;
  right: auto;
  min-width: 180px;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #eeeaea;
  padding-left: 25px;
}
.dropdown-menu .divider {
  margin: 6px 0;
}
.dropdown-menu > li > a {
  color: #fff;
  padding: 6px 20px;
  -webkit-transition: padding 0.5s ease;
  -moz-transition: padding 0.5s ease;
  -o-transition: padding 0.5s ease;
  transition: padding 0.5s ease-out;
}
.navbar-toggle {
  margin-top: 17px;
}
/*start slider*/
.carousel-caption {
  bottom: 143px;
  background: rgba(3, 3, 3, 0.3);
  padding-right: 20px;
  padding-left: 20px;
}
.carousel-indicators {
  bottom: 0;
}

.carousel-indicators li {
  width: 15px;
  height: 15px;
  border-color: #eee;
}
.carousel-indicators .active {
  width: 17px;
  height: 17px;
}
.carousel-inner > .item > img {
  width: 100%;
}

/*start section */
.about {
  padding-top: 60px;
  padding-bottom: 60px;
}
.about .lead {
  font-size: 25px;
  color: #888;
  margin-top: 15px;
}
.about h1 {
  font-weight: bold;
}

/*End section */
/*Start features */
.features {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #eee;
}
.features h1 {
  margin-bottom: 50px;
}
.feat {
  margin-bottom: 15px;
}
.features .feat p {
  line-height: 2em;
}
.features .feat span.glyphicon {
  font-size: 20px;
  margin-bottom: 10px;
  color: #555;
}
.features .row > div {
  margin-bottom: 22px;
}
/*End features*/

/*Start testimonials*/
.testimonials {
  padding-top: 50px;
  padding-bottom: 50px;
}
.testimonials h1 {
  font-weight: bold;
  margin-bottom: 20px;
}
/*End testimonials*/
.testimonials .lead {
  line-height: 2em;
  font-size: 18px;
  margin-bottom: 10px;
}
.testimonials span {
  font-size: 18px;
  font-weight: bold;
}
.testimonials .carousel-indicators li {
  width: 80px;
  height: 80px;
}
.testimonials .carousel-indicators {
  position: static;
  margin: auto;
  margin-top: 5px;
}
.testimonials .carousel-indicators li {
  border-radius: 50%;
  text-indent: 0;
  border: 3px solid #e410;
  opacity: 0.5;
  overflow: hidden;
  margin-right: 10px;
}
.testimonials .carousel-indicators li img {
  max-width: 100%;
}
.testimonials .carousel-inner {
  min-height: 160px;
}
.testimonials .carousel-indicators .active {
  opacity: 1;
  background: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease-out;
}
/*Start price*/
.price {
  background: #eee;
  padding-top: 40px;
  padding-bottom: 40px;
}
.price .row {
  overflow: hidden;
}
.price h1 {
  margin-bottom: 40px;
}
.price .price_box {
  background: #fff;
  padding: 5px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
}
.price .price_box:hover p {
  transform: scale(1.1, 1.1) rotate(360deg);
  -webkit-transform: scale(1.1, 1.1) rotate(360deg);
  -moz-transform: scale(1.1, 1.1) rotate(360deg);
  -o-transform: scale(1.1, 1.1) rotate(360deg);

  border: 2px solid #dfdfdf;
  background: #f3f3f3;
}
.price_box h2 {
  margin: 5px 0 15px;
}
.price p {
  font-size: 35px;
  font-weight: bold;
  color: #666;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #f3f3f3;
  line-height: 100px;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  border: 2px solid #0000;
}
.price ul {
  line-height: 3em;
}
.price li {
  font-size: 18px;
}
.price a {
  margin-bottom: 5px;
}
/*End price*/

/*Start our team*/
.our_team {
  min-height: 600px;
  background: url(../images/team.jpg) no-repeat center fixed;
  background-size: cover;
  color: #fff;
}
.inner_team {
  background: rgba(2, 2, 2, 0.7);
  min-height: 600px;
}
.inner_team h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: bold;
}
.our_team .person {
  margin-bottom: 40px;
}

/*End our team*/

/*Start section subscribe*/
.subscrible {
  padding-top: 40px;
  padding-bottom: 70px;
  background: #eee;
  overflow: hidden;
}
.subscrible h1 {
  font-weight: 500;
  color: rgb(168, 167, 167);
  letter-spacing: 3px;
  margin-bottom: 20px;
}
.subscrible p {
  margin-bottom: 20px;
}
.subscrible .form-control {
  border-radius: 0;
  margin-right: -5px;
  width: 250px;
}
.subscrible .btn {
  border-radius: 0;
}
/*End section subscribe*/

/*Start section stats*/
.stats {
  background: url(../images/stats.jpg) no-repeat center center fixed;
  background-size: cover;
  min-height: 400px;
}
.stats .box_stats {
  margin-bottom: 40px;
  transition: all 0.5s ease-in-out;
}
.stats .box_stats:hover {
  color: #fff;
  transition: all 0.5s ease-in-out;
}
.stats .data {
  background-color: rgba(2, 2, 2, 0.8);
  min-height: 400px;
  color: #b6b5b5;
  padding-top: 40px;
  padding-bottom: 70px;
}
.stats h1 {
  padding-bottom: 60px;
}
.stats p {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 0;
}
.stats span {
  font-size: 18px;
}
/*Start section stats*/

/* Start section our_skills */
.our_skills {
  padding-top: 40px;
  padding-bottom: 70px;
}
.our_skills .row {
  overflow: hidden;
}
.our_skills h1 {
  margin-bottom: 60px;
}
.our_skills h3 {
  font-weight: bold;
  margin-top: 0;
}
.our_skills .progress {
  height: 36px;
}
.our_skills .progress-bar {
  line-height: 36px;
  font-size: 16px;
  text-align: left;
  text-indent: 10px;
  font-weight: bold;
  transition: all 0.8s ease-in-out;
}
.our_skills .progress:hover .progress-bar {
  opacity: 0.8;
  transition: all 0.8s ease-in-out;
}
.skills_progress {
  margin-bottom: 50px;
}
.skills_progress span {
  float: right;
  padding-right: 5px;
  color: rgb(248, 245, 245);
}
/* End section our_skills */

/* Start section contact-us */
.Contact-us {
  background: url(../images/contact-us.jpg) no-repeat center center fixed;
  background-size: cover;
  min-height: 300px;
}
.Contact-us .inner-us {
  background: rgba(9, 9, 9, 0.8);
  min-height: 300px;
  color: #ddd;
  padding-top: 40px;
  padding-bottom: 40px;
}
.Contact-us p {
  margin-bottom: 60px;
}
.Contact-us textarea {
  height: 107px;
}
.Contact-us input,
.Contact-us textarea {
  background: rgba(82, 78, 78, 0.6);
  border: none;
  color: #fff;
}
/* End section contact-us */

/* Start Section our-clients */
.our-clients {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #eee;
}
.our-clients img {
  opacity: 0.6;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: all 0.7s ease-in-out;
}

.our-clients img:hover {
  opacity: 1;

  transition: all 0.7s ease-in-out;
}
/* End Section our-clients */

/* Start Section Footer */
.footer {
  background: #232323;
  color: #aaa;
  padding-top: 20px;
}
.footer a {
  color: #aaa;
}
.footer a:hover {
  color: #fff;
}
.footer h3 {
  letter-spacing: 1px;
  margin: 30px 0 20px;
  font-weight: 600;
}
.footer .three-col {
  overflow: hidden;
}
.footer .three-col li {
  width: 33.333%;
  float: left;
  padding: 5px 0;
}
.footer .social-list {
  overflow: hidden;
  margin: 20px 0 10px;
}
.footer .social-list li {
  float: left;
  margin-right: 2px;
  opacity: 0.7;
  transition: all 0.7s ease-in-out;
  cursor: pointer;
}
.footer .social-list li:hover {
  opacity: 1;
  transition: all 0.7s ease-in-out;
}
.footer .img-thumbnail {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(59, 58, 58);
  margin-bottom: 5px;
}
.cipyright {
  margin-top: 30px;
  padding-top: 27px;
  padding-bottom: 27px;
  background: #333;
  font-size: 17px;
}
.cipyright a {
  font-weight: bold;
  text-decoration: none;
}
/* End Section Footer */

/* Start section loading-over */
.loading-overlay {
  background: #222;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999999;
  height: 100%;
  color: #fff;
}

.spinner {
  margin: 350px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}
.spinner .rect1,
.spinner .rect2,
.spinner .rect3,
.spinner .rect4,
.spinner .rect5 {
  background: rgb(197, 196, 196);
}
.spinner .rect2 {
  background: rgb(190, 190, 190);
}
.spinner .rect3 {
  background: rgb(180, 179, 179);
}
.spinner .rect4 {
  background: rgb(158, 148, 148);
}
.spinner .rect5 {
  background: rgb(156, 147, 147);
}
.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
/* End section loading-over */
